body {
    background-color: white;
    background-image: url(grass1.jpg),
    url(grass2.jpg);
    background-position: top,bottom;
    Background-size: 100%;

    background-repeat: no-repeat;

}

h1 {
  font-family: Monaco;
  color: Aqua;
}

h3 {
  font-family: Monaco;
  color: Aqua;
  backface-visibility: visible;
}
p {
  font-family: Monaco;
  color: Aqua;
}
li {
  font-family: Monaco;
  color: Aqua;

}

hr {
  border: 6px dotted;
  border-style: dotted none none none;
  height: 2px;
  width: 8%;
}
