body {
    background-color: gold;
    background-image: url(grass12.jpg),
    url(grass22.jpg);
    background-position: top,bottom;
    Background-size: 100%;

    background-repeat: no-repeat;

}

h1 {
  font-family: Monaco;
  color: black;
}

h3 {
  font-family: Monaco;
  color: black;
  backface-visibility: visible;
}
p {
  font-family: Monaco;
  color: black;
}
li {
  font-family: Monaco;
  color: black;

}

hr {
  border: 6px dotted;
  border-style: dotted none none none;
  height: 2px;
  width: 8%;
}
