body {
    background-color: white;
    background-image: url(grass1.jpg),
    url(grass2.jpg);
    background-position: top,bottom;

    background-repeat: repeat;

}

h1 {
  font-family: Monaco;
  color: brown;
}

h3 {
  font-family: Monaco;
  color: black;
  backface-visibility: visible;
}
p {
  font-family: Monaco;
  color: black;
}
li {
  font-family: Monaco;
  color: black;

}

hr {
  border: 6px dotted;
  border-style: dotted none none none;
  height: 2px;
  width: 8%;
}
